<h1>Task Master</h1>

<h2>Tasks to be completed</h2>

<ul>
    {{#each tasks}}
        {{#unless completed}}
            {{> tasks/task-block completed = true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Completed Tasks</h2>

<ul>
    {{#each tasks}}
        {{#if completed}}
            <strong>{{task_name}}</strong>
            {{task_description}}
        {{/if}}
    {{/each}}

</ul>
