<h1>Task Master</h1>

<h2>Tasks to be completed</h2>

<ul>
    {{#each tasks}}
        {{#unless completed}}
            {{> tasks/task-block completed = true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Completed Tasks</h2>

<ul>
    {{#each tasks}}
        {{#if completed}}
            <strong>{{task_name}}</strong>
            {{task_description}}
        {{/if}}
    {{/each}}

</ul>


<h2>Add a New task</h2>

<form class="create-form">
    <div class="form-group">
        <label for="name">Task Name: </label>
        <input type="text" id="task_name" name= "task_name">
    </div>
    <div class="form-group">
        <label for="task_description">Task Description: </label>
        <input type="text" id="task_description" name= "task_description">
    </div>

    <button type="submit">Add Task</button>
</form>